---
import FormLayout from "../layouts/FormLa";
import InputText from "../components/InputText.astro";
---
<FormLayout>
  <h2 slot="subtitulo">Ingrese informacion </h2>
  <InputText
  slot ="caja-texto"/>
</FormLayout>