---
    interface Props {
        etiqueta: string;
    }

    const etiqueta = Astro.props.etiqueta;
---
<button class="boton-envio">
    {etiqueta}
</button>
<style>
    /*estilos de clase*/
    /*se aplican a los elemntos*/
    /*que tengan el atritubuto class*/
    /*con el mismo nombre de clase*/
    .boton-envio{
        background-color: black;
        color: aliceblue;
        width: 100px;
        height: 40px;
        border-top-right-radius: 10px;
    }
</style>