---
    //Definimos las propiedades
    //que puede recibir el compónente
    interface Props {
        etiqueta: string;
   
    }

    //crear una variable
    //para recibir la etiqueta
    //Astro.props=Los valores desde
    //            el control
    const etiqueta = Astro.props.etiqueta;
 
---

<!-----
etiqueta input:
se utiliza para los siguientes 
controles:
- campo de texto
- password
- checrbox
- radio button
- boton de envio
 ES ETIQUTA CERRADA
--- -->
<label>{etiqueta}</label>
<input type="text" />
<style>
    /*solo se puede poner aqui*/
    /*sintaxis css*/
    /*estilospara el input text*/
    /* selctor de etiqueta: */
    /*estilo aplicable a toda etiquieta*/
    /*señalada por el selector*/
    input[type="text"]{
        background-color: rgb(49, 226, 43);
        width: 400px;
        height: 20px;
        color: black;
        /* bordes :
        -color
        -peso (grosor)
        estilo (tipo de linea)
        */
        border-color: aqua;
        border-width: 3px;
        border-style: solid;
        border-radius: 10px; 
    }
</style>