---
//div: etiqueta abierta
//     tienen elementos adentro
//     permite especificar propiedades de ubicacion
    //Definimos las propiedades
    //que puede recibir el compónente
    interface Props {
        etiqueta: string;
   
    }

    //crear una variable
    //para recibir la etiqueta
    //Astro.props=Los valores desde
    //            el control
    const etiqueta = Astro.props.etiqueta;
---
<label>{etiqueta}</label>
<div>
    <div id="Cedula"> 
        <input
            type="radio"
            name="rbg"
            id="radio1" 
         />
         <strong>CC</strong> 
    </div>
     <div id="Tarjeta-identidad"> 
        <input
            type="radio"
            name="rbg"
            id="radio2" 
         />
         <strong>TI</strong> 
    </div>
     <div id="Cedula-extranjeria"> 
        <input
            type="radio"
            name="rbg"
            id="radio3" 
         />
         <strong>CE</strong> 
    </div>
<div>
<style>
   #Cedula{
    background-color: brown;
    display: inline;
   }
   #Tarjeta-identidad{
    background-color: aqua;
    display: inline;
   }
   #Cedula-extranjeria{
    background-color: chocolate;
    display: inline;
   }
</style>