---
    interface Props {
        etiqueta: string;
    }

    const etiqueta = Astro.props.etiqueta;
---
<label>{etiqueta}</label>
<select>
    <option id="Cali">cali</option>
    <option id="Bogota">bogota</option>
    <option id="Medellin">medellin</option>
    <option id="Cartagena">cartagena</option>
    <option id="Barranquilla">barranquilla</option>
    <option id="Santa marta">santa marta</option>
    <option id="Tunja">tunja</option>
</select>
<style>
    /*estilo de identificador*/
    /*solo aplica a etiquetas */
    /*que tengan el atributo id*/
    /*NOTA: solo debe haber un id igual*/
    /* EN TODA LA PAGINA*/
    #Bogota{
        color: red;

    }
    select{
        border: 2px rgb(217, 231, 18) dotted;
    }
    #Cali{
        color: rgb(89, 0, 255);

    }
    #Medellin{
        color: rgb(217, 255, 0);

    }
    #Cartagena{
        color: rgb(40, 155, 190);

    }
    #Barranquilla{
        color: rgb(123, 255, 0);

    }
    #Santa marta{
        color: rgb(20, 20, 27);

    }
    #Tunja{
        color: rgb(105, 25, 233);

    }

</style>